<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dbUpdateDefinitions" type="Lib.Data.DbVersioning.Configuration.DbUpdateDefinitionsConfigSection, Lib.Data.DbVersioning"/>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <dbUpdateDefinitions>
        <items>
            <dbUpdateDefinition key="1">
                <databaseManager typeName="Lib.Data.DataProviders.MsSql.SqlDatabaseManager"/>
                <dbUpdate typeName="Lib.Data.DbVersioning.SqlDbUpdate`1" typeOfDbVersionIdentifier="Lib.Data.DbVersioning.MajorMinorDbVersionIdentifier"/>
                <dataProvider typeName="Lib.Data.DataProviders.MsSql.SqlDbDataProvider" assemblyName="Lib.Data.DataProviders.MsSql" connectionString="Data Source=quals_db_srv;Initial Catalog=Quals;Persist Security Info=True;User ID=sa;Password=sa; Connection Timeout=180"/>
                <dbUpdatesScanner typeName="Lib.Data.DbVersioning.FileSystemSqlDbUpdatesScanner">
                    <params>
                        <add key="pathToUpdates" value="C:\Projects\Trinetix\Deloitte\Quals\Sources\DTTL.DR.QUALS.DataAccess\Migrations"/>
                    </params>
                </dbUpdatesScanner>
                <currentDbVersionDetector typeName="Lib.Data.DbVersioning.MajorMinorCurrentDbVersionDetector">
                    <params>
                        <add key="getVersionSqlCommandText" value="SELECT * from V_CurrentDbVersion"/>
                        <add key="checkDbSupportVersioningCommandText" value="F_CheckVersioningIntegrity"/>
                    </params>
                </currentDbVersionDetector>
                <dbUpdateLoader typeName="Lib.Data.DbVersioning.FileSystemDbUpdateLoader"/>
                <dbUpdateBuilder typeName="Lib.Data.DbVersioning.MajorMinorSqlDbUpdateBuilder2"/>
                <dbUpdateExecuter typeName="Lib.Data.DbVersioning.SqlDbUpdateExecutor`1" assemblyName="Lib.Data.DbVersioning" typeOfDbVersionIdentifier="Lib.Data.DbVersioning.MajorMinorDbVersionIdentifier" executionTimeOut="180"/>
            </dbUpdateDefinition>
        </items>
    </dbUpdateDefinitions>
</configuration>
