<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AGrynco.Lib" version="0.2" targetFramework="net45" />
  <package id="Lib.Utils.Collections" version="0.58" targetFramework="net45" />
  <package id="Lib.Utils.Console" version="0.58" targetFramework="net45" />
  <package id="Lib.Utils.Validation" version="0.58" targetFramework="net45" />
</packages>