<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dbUpdateDefinitions" type="DbVersioning.Configuration.DbUpdateDefinitionsConfigSection, DbVersioning"/>

    </configSections>

    <dbUpdateDefinitions>
        <items>
            <dbUpdateDefinition key="1">
                <databaseManager typeName="AGrynCo.Lib.DataProviders.MsSql.SqlDatabaseManager"/>
                <dbUpdate typeName="AGrynCo.Lib.Data.DbVersioning.SqlDbUpdate`1" typeOfDbVersionIdentifier="AGrynCo.Lib.Data.DbVersioning.MajorMinorDbVersionIdentifier"/>

                <dataProvider typeName="AGrynCo.Lib.Data.DataProviders.MsSql.SqlDbDataProvider" assemblyName="AGrynCo.Lib.Data.DataProviders.MsSql" connectionString="Data Source=ci_prod_StatisticsDbSrv;Initial Catalog=ci_generlaChecks_prod_Statistics;Persist Security Info=True;User ID=sa;Password=sa; Connection Timeout=180"/>

                <dbUpdatesScanner typeName="AGrynCo.Lib.Data.DbVersioning.FileSystemSqlDbUpdatesScanner">
                    <params>
                        <add key="param1" value="value1"/>
                        <add key="param2" value="value2"/>
                    </params>
                </dbUpdatesScanner>

                <currentDbVersionDetector typeName="Lib.Data.DbVersioning.MajorMinorCurrentDbVersionDetector">
                    <params>
                        <add key="getVersionSqlCommandText" value="IF OBJECT_ID(N'DbVersions', N'U') IS NOT NULL SELECT * from CurrentDbVersion ELSE SELECT 0 AS MajorVersion, -1 AS MinorVersion"/>
                        <add key="checkDbSupportVersioningCommandText" value="CheckVersioningIntegrity"/>
                    </params>
                </currentDbVersionDetector>

                <dbUpdateLoader typeName="AGrynCo.Lib.Data.DbVersioning.FileSystemDbUpdateLoader"/>
                <dbUpdateBuilder typeName="AGrynCo.Lib.Data.DbVersioning.MajorMinorSqlDbUpdateBuilder2"/>
                <dbUpdateExecuter typeName="AGrynCo.Lib.Data.DbVersioning.SqlDbUpdateExecutor`1" assemblyName="AGrynCo.Lib.Data.DbVersioning" typeOfDbVersionIdentifier="AGrynCo.Lib.Data.DbVersioning.MajorMinorDbVersionIdentifier" executionTimeOut="180"/>
            </dbUpdateDefinition>

        </items>
    </dbUpdateDefinitions>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
