<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dbUpdateDefinitions" type="Lib.Data.DbVersioning.Configuration.DbUpdateDefinitionsConfigSection, Lib.Data.DbVersioning" />

    </configSections>

    <dbUpdateDefinitions>
        <items>
            <dbUpdateDefinition key="1">
                <databaseManager typeName="Lib.Data.DataProviders.MsSql.SqlDatabaseManager"/>
                <dbUpdate typeName="Lib.Data.DbVersioning.SqlDbUpdate`1"
			  typeOfDbVersionIdentifier="Lib.Data.DbVersioning.MajorMinorDbVersionIdentifier"/>

                <dataProvider typeName="Lib.Data.DataProviders.MsSql.SqlDbDataProvider"
									  assemblyName="Lib.Data.DataProviders.MsSql"
						connectionString="Data Source=ci_prod_StatisticsDbSrv;Initial Catalog=ci_generlaChecks_prod_Statistics;Persist Security Info=True;User ID=sa;Password=sa; Connection Timeout=180" />

                <dbUpdatesScanner typeName="Lib.Data.DbVersioning.FileSystemSqlDbUpdatesScanner">
                    <params>
                        <add key="param1" value="value1"/>
                        <add key="param2" value="value2"/>
                    </params>
                </dbUpdatesScanner>

                <currentDbVersionDetector typeName="Lib.Data.DbVersioning.MajorMinorCurrentDbVersionDetector">
                    <params>
                        <add key="getVersionSqlCommandText" value="IF OBJECT_ID(N'DbVersions', N'U') IS NOT NULL SELECT * from CurrentDbVersion ELSE SELECT 0 AS MajorVersion, -1 AS MinorVersion"/>
                        <add key="checkDbSupportVersioningCommandText" value="CheckVersioningIntegrity"/>
                    </params>
                </currentDbVersionDetector>

                <dbUpdateLoader typeName="Lib.Data.DbVersioning.FileSystemDbUpdateLoader"/>
                <dbUpdateBuilder typeName="Lib.Data.DbVersioning.MajorMinorSqlDbUpdateBuilder2"/>
                <dbUpdateExecuter typeName="Lib.Data.DbVersioning.SqlDbUpdateExecutor`1"
								assemblyName="Lib.Data.DbVersioning"
				typeOfDbVersionIdentifier="Lib.Data.DbVersioning.MajorMinorDbVersionIdentifier"
				executionTimeOut="180"	/>
            </dbUpdateDefinition>

        </items>
    </dbUpdateDefinitions>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
