<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lib.Data.DataProviders" version="0.58" targetFramework="net45" />
  <package id="Lib.Utils.ResourcesUtils" version="0.58" targetFramework="net45" />
  <package id="Lib.Utils.Validation" version="0.58" targetFramework="net45" />
</packages>