<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
	<add key="Grynco" value="http://tc.grynco.com.ua:81/guestAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>